USE [master]
GO
/****** Object:  Database [WebProjesiDB]    Script Date: 30.11.2023 00:13:54 ******/
CREATE DATABASE [WebProjesiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebProjesiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebProjesiDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebProjesiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WebProjesiDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebProjesiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebProjesiDB]
GO
/****** Object:  Table [dbo].[TBL_DERSLER]    Script Date: 30.11.2023 00:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DERSLER](
	[DERSID] [int] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_DERSLER] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DUYURULAR]    Script Date: 30.11.2023 00:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DUYURULAR](
	[DUYURUID] [int] IDENTITY(1,1) NOT NULL,
	[DUYURUBASLIK] [varchar](50) NULL,
	[DUYURUICERIK] [varchar](250) NULL,
	[DUYURUOGRT] [int] NULL,
 CONSTRAINT [PK_TBL_DUYURULAR] PRIMARY KEY CLUSTERED 
(
	[DUYURUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MESAJLAR]    Script Date: 30.11.2023 00:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MESAJLAR](
	[MESAJID] [int] IDENTITY(1,1) NOT NULL,
	[GONDEREN] [varchar](5) NULL,
	[ALICI] [varchar](5) NULL,
	[BASLIK] [varchar](50) NULL,
	[ICERIK] [varchar](500) NULL,
	[TARIH] [smalldatetime] NULL,
 CONSTRAINT [PK_TBL_MESAJLAR] PRIMARY KEY CLUSTERED 
(
	[MESAJID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NOTLAR]    Script Date: 30.11.2023 00:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NOTLAR](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[OGRENCIID] [int] NOT NULL,
	[DERSNID] [int] NOT NULL,
	[SINAV1] [tinyint] NULL,
	[SINAV2] [tinyint] NULL,
	[SINAV3] [tinyint] NULL,
	[ORTALAMA] [decimal](18, 2) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_TBL_NOTLAR] PRIMARY KEY CLUSTERED 
(
	[OGRENCIID] ASC,
	[DERSNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_OGRENCI]    Script Date: 30.11.2023 00:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_OGRENCI](
	[OGRID] [int] IDENTITY(1,1) NOT NULL,
	[NUMARA] [varchar](5) NULL,
	[OGRAD] [varchar](30) NULL,
	[OGRSOYAD] [varchar](30) NULL,
	[OGRFOTOGRAF] [varchar](100) NULL,
	[OGRTELEFON] [varchar](20) NULL,
	[OGRMAIL] [varchar](50) NULL,
	[OGRSIFRE] [varchar](50) NULL,
	[OGRCINSIYET] [varchar](5) NULL,
 CONSTRAINT [PK_TBL_OGRENCI] PRIMARY KEY CLUSTERED 
(
	[OGRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_OGRETMEN]    Script Date: 30.11.2023 00:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_OGRETMEN](
	[OGRTID] [int] IDENTITY(1,1) NOT NULL,
	[OGRTADSOYAD] [varchar](30) NULL,
	[OGRTFOTO] [varchar](100) NULL,
	[OGRTBRANS] [int] NULL,
	[OGRTNUMARA] [varchar](4) NULL,
	[OGRTSIFRE] [nchar](10) NULL,
 CONSTRAINT [PK_TBL_OGRETMEN] PRIMARY KEY CLUSTERED 
(
	[OGRTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_DERSLER] ON 

INSERT [dbo].[TBL_DERSLER] ([DERSID], [DERSAD]) VALUES (1, N'DİL ANLATIM')
INSERT [dbo].[TBL_DERSLER] ([DERSID], [DERSAD]) VALUES (2, N'MATEMATİK')
INSERT [dbo].[TBL_DERSLER] ([DERSID], [DERSAD]) VALUES (3, N'EDEBİYAT')
SET IDENTITY_INSERT [dbo].[TBL_DERSLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_DUYURULAR] ON 

INSERT [dbo].[TBL_DUYURULAR] ([DUYURUID], [DUYURUBASLIK], [DUYURUICERIK], [DUYURUOGRT]) VALUES (1, N'Ders Notları', N'Arkadaslar bugün tanısma dersimiz olacaktır. Ona göre gelin.', 1)
INSERT [dbo].[TBL_DUYURULAR] ([DUYURUID], [DUYURUBASLIK], [DUYURUICERIK], [DUYURUOGRT]) VALUES (2, N'Sınav Konuları', N'Arkadaslar bugünki sınavınız klasik olacaktır. Dikkatli bir şekilde çalışıp gelmenizi rica ediyorum.', 2)
INSERT [dbo].[TBL_DUYURULAR] ([DUYURUID], [DUYURUBASLIK], [DUYURUICERIK], [DUYURUOGRT]) VALUES (3, N'Algoritma', N'Bu bir denemedir.', 1)
SET IDENTITY_INSERT [dbo].[TBL_DUYURULAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_MESAJLAR] ON 

INSERT [dbo].[TBL_MESAJLAR] ([MESAJID], [GONDEREN], [ALICI], [BASLIK], [ICERIK], [TARIH]) VALUES (1, N'123', N'124', N'ODEV', N'SELAM TEST MESAJI.', CAST(N'2023-11-26T00:00:00' AS SmallDateTime))
INSERT [dbo].[TBL_MESAJLAR] ([MESAJID], [GONDEREN], [ALICI], [BASLIK], [ICERIK], [TARIH]) VALUES (2, N'126', N'129', N'SINAV', N'SELAM KANKA SINAV SONUCLARI ACIKLANMIS BİLGİN OLSUN.', CAST(N'2023-11-28T00:00:00' AS SmallDateTime))
INSERT [dbo].[TBL_MESAJLAR] ([MESAJID], [GONDEREN], [ALICI], [BASLIK], [ICERIK], [TARIH]) VALUES (3, N'127', N'128', N'DENEME', N'TEST MESAJI', CAST(N'2023-11-27T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[TBL_MESAJLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_NOTLAR] ON 

INSERT [dbo].[TBL_NOTLAR] ([NOTID], [OGRENCIID], [DERSNID], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (1, 1, 2, 97, 32, 32, CAST(68.67 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBL_NOTLAR] ([NOTID], [OGRENCIID], [DERSNID], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (2, 1, 3, 62, 84, 84, CAST(76.67 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBL_NOTLAR] ([NOTID], [OGRENCIID], [DERSNID], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (4, 2, 2, 68, 47, 47, CAST(59.67 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[TBL_NOTLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_OGRENCI] ON 

INSERT [dbo].[TBL_OGRENCI] ([OGRID], [NUMARA], [OGRAD], [OGRSOYAD], [OGRFOTOGRAF], [OGRTELEFON], [OGRMAIL], [OGRSIFRE], [OGRCINSIYET]) VALUES (1, N'123', N'HAKAN', N'Mars', N'dosya', N'05111111111', N'hakanmars@gmail.com', N'1234', N'Erkek')
INSERT [dbo].[TBL_OGRENCI] ([OGRID], [NUMARA], [OGRAD], [OGRSOYAD], [OGRFOTOGRAF], [OGRTELEFON], [OGRMAIL], [OGRSIFRE], [OGRCINSIYET]) VALUES (2, N'124', N'RABİA', N'Soy', N'dosya', N'05222222222', N'rabia@gmail.com', N'567', N'Kız')
INSERT [dbo].[TBL_OGRENCI] ([OGRID], [NUMARA], [OGRAD], [OGRSOYAD], [OGRFOTOGRAF], [OGRTELEFON], [OGRMAIL], [OGRSIFRE], [OGRCINSIYET]) VALUES (3, N'125', N'AYŞE', N'Bim', N'dosya', N'05333333333', N'deneme1@gmail.com', N'232', N'Kız')
SET IDENTITY_INSERT [dbo].[TBL_OGRENCI] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_OGRETMEN] ON 

INSERT [dbo].[TBL_OGRETMEN] ([OGRTID], [OGRTADSOYAD], [OGRTFOTO], [OGRTBRANS], [OGRTNUMARA], [OGRTSIFRE]) VALUES (1, N'Mükremin Mars', N'232', 1, N'0001', N'1         ')
INSERT [dbo].[TBL_OGRETMEN] ([OGRTID], [OGRTADSOYAD], [OGRTFOTO], [OGRTBRANS], [OGRTNUMARA], [OGRTSIFRE]) VALUES (2, N'Eşref Gezgin', N'2343', 2, N'0002', N'2         ')
INSERT [dbo].[TBL_OGRETMEN] ([OGRTID], [OGRTADSOYAD], [OGRTFOTO], [OGRTBRANS], [OGRTNUMARA], [OGRTSIFRE]) VALUES (3, N'Selami Zıplar', N'6464', 4, N'0003', N'3         ')
SET IDENTITY_INSERT [dbo].[TBL_OGRETMEN] OFF
GO
ALTER TABLE [dbo].[TBL_MESAJLAR] ADD  CONSTRAINT [DF_TBL_MESAJLAR_TARIH]  DEFAULT (getdate()) FOR [TARIH]
GO
ALTER TABLE [dbo].[TBL_NOTLAR] ADD  CONSTRAINT [DF_TBL_NOTLAR_SINAV1]  DEFAULT ((0)) FOR [SINAV1]
GO
ALTER TABLE [dbo].[TBL_NOTLAR] ADD  CONSTRAINT [DF_TBL_NOTLAR_SINAV2]  DEFAULT ((0)) FOR [SINAV2]
GO
ALTER TABLE [dbo].[TBL_NOTLAR] ADD  CONSTRAINT [DF_TBL_NOTLAR_SINAV3]  DEFAULT ((0)) FOR [SINAV3]
GO
ALTER TABLE [dbo].[TBL_NOTLAR] ADD  CONSTRAINT [DF_TBL_NOTLAR_ORTALAMA]  DEFAULT ((0)) FOR [ORTALAMA]
GO
ALTER TABLE [dbo].[TBL_NOTLAR] ADD  CONSTRAINT [DF_TBL_NOTLAR_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[TBL_DUYURULAR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DUYURULAR_TBL_OGRETMEN] FOREIGN KEY([DUYURUOGRT])
REFERENCES [dbo].[TBL_OGRETMEN] ([OGRTID])
GO
ALTER TABLE [dbo].[TBL_DUYURULAR] CHECK CONSTRAINT [FK_TBL_DUYURULAR_TBL_OGRETMEN]
GO
ALTER TABLE [dbo].[TBL_OGRETMEN]  WITH CHECK ADD  CONSTRAINT [FK_TBL_OGRETMEN_TBL_DERSLER] FOREIGN KEY([OGRTBRANS])
REFERENCES [dbo].[TBL_DERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBL_OGRETMEN] CHECK CONSTRAINT [FK_TBL_OGRETMEN_TBL_DERSLER]
GO
/****** Object:  StoredProcedure [dbo].[Graf1]    Script Date: 30.11.2023 00:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[Graf1]
as
select TBL_DERSLER.DERSAD,COUNT(*) From TBL_NOTLAR
Inner Join TBL_DERSLER
on TBL_DERSLER.DERSID=TBL_NOTLAR.DERSNID
group by TBL_DERSLER.DERSAD
GO
/****** Object:  StoredProcedure [dbo].[Graf2]    Script Date: 30.11.2023 00:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[Graf2]
as
Select OGRCINSIYET,Count(*) From TBL_OGRENCI
Group By OGRCINSIYET
GO
/****** Object:  StoredProcedure [dbo].[OgrNotlar]    Script Date: 30.11.2023 00:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[OgrNotlar]
as
select NOTID,OGRENCIID, (OGRAD + ' ' + OGRSOYAD) AS 'OGRENCIADSOYAD',DERSAD,SINAV1,SINAV2,SINAV3,ORTALAMA,DURUM from TBL_NOTLAR
INNER JOIN TBL_OGRENCI 
ON TBL_OGRENCI.OGRID = TBL_NOTLAR.OGRENCIID
INNER JOIN TBL_DERSLER
ON TBL_DERSLER.DERSID = TBL_NOTLAR.DERSNID
GO
USE [master]
GO
